body {
  background-color: cornflowerblue;
}

.container {
  max-width: 600px;
  margin: 80px auto 15px;
  background: whitesmoke;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

h2 {
  margin: 0;
}

.date {
  opacity: 0.7;
}

.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed grey;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

.time {
  font-size: 36px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 36px;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
}

footer {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
